NN{
	mode = train
	# There are three modes here(train/inference/predict). 
	# 1). train mode is used to train a model for neural network. Set the mode = train
	# 2). inference mode is used to show the accuracy of model by labeled data. You should do this before you have trained a model. Set the mode = inference
	# 3). predict mode is used to predict the data without label. You should do this before you have trained a model. Set the mode = predict
	input_file = 8_12_VT_peinfo_objdump_join.parquet
	model = NN_model
	output = predictions
	batch_size = 10
	epochs = 1
	cluster_size = 3
	steps = 1000
}

preprocess{
  kmeans_cluster_number = 10
  keyspace = "gsoc3"
  service_name_table = "results_meta_by_service_name"
  sha256_table = "results_data_by_sha256"
  VT_signatures_prefix_suffix_file = "prefix.txt"
  objdump_x86Opcodes_file = "x86Opcodes"

  VT_sample_signatures_final_array_file = "VT_sample_signatures_final_array.parquet" 
  VT_sample_label_file = "VT_sample_label.parquet"
  peinfo_final_array_file = "peinfo_final_array.parquet"
  objdump_binaray_final_array_file = "objdump_binaray_final_array.parquet"
  VT_peinfo_objdump_join_file = "VT_peinfo_objdump_join.parquet"
}  



